.under-construction {
    width: 70vw;
    height: 95vh;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  .under-construction img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fills screen without distortion */
  }
  